/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


/* Body Style */
body {
    /* font-family: 'Arial', sans-serif; */
    /* font-family: "Courier Prime", monospace; */
    font-family: "Source Code Pro", monospace;
    background-color: #d7d7d7;
    color: #d7d7d7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    position: relative;
    /* Ensure the body is the reference for absolute positioning */
    overflow: hidden;
    /* Prevent scrollbars from appearing */
}

/* Start Menu Style */
.start-menu {
    text-align: center;
    background-color: #d7d7d7;
    padding: 40px;
    /* width: 390px; */
    border-radius: 10px;
    /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); */
    z-index: 1;
    /* Ensure the menu is above the background image */
}

.start-menu h1 {
    margin-bottom: 40px;
    /* add left and right margin as necessary */
    /* margin-left: 80px; */
    font-size: 2.5em;
    color: #353838;
}

/* Menu Options Style */
.menu-options {
    list-style: none;
}

.menu-options li {
    margin: 0px 0;
}

.menu-options a {
    text-decoration: none;
    font-size: 1.5em;
    color: #353838;
    padding: 10px 20px;
    border: 2px solid #353838;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.menu-options a:hover {
    background-color: #353838;
    color: #dadada;
}

.bottom-image-container img {
    width: 300px;
    /* Adjust this size as necessary */
    max-width: 120%;
    height: auto;
    opacity: 0.8;
    /* Optional: Adjust opacity for a background feel */
    transition: opacity 0.3s;
}

.bottom-image-container {
    position: absolute;
    height: 50%;
    bottom: 0;
    left: 0;
    z-index: 0;
    /* Ensure the image is behind other content */
}

/* CSS Hover to switch images */
.bottom-image-container img:hover {
    content: url('chair-animated-nobkgrnd.gif');
}

tw-story {
    background-color: #d7d7d7; /* Replace with your front page background color */
    color: #353838; /* Replace with your front page text color */
}

tw-passage {
    background-color: transparent; /* Keeps passages transparent to show the background */
    color: inherit; /* Inherit the text color set in tw-story */
}

#typewriter-container {
    font-size: 42px;
    /* width: 300px; */
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    /* border-right: 2px solid black; */
    /* text-align: center; */
}

#typewriter h1 {
    display: inline;
}

/* Blinking cursor effect using ::after */
#typewriter::after {
    content: ";";  /* anything, will be camouflaged by the color */
    color: #d7d7d7;  /* same as background */
    display: inline-block;
    width: 2px;
    background-color: black;
    animation: blink 0.7s steps(1) infinite;
    margin-left: 2px; /* Space between text and cursor */
    }

@keyframes blink {
    50% {
        background-color: transparent;
    }
}